<html>

    <head>
        <title>This is title</title>
    </head>
    <bod>
        <br>
        <label for="fname">Write Text:</label>
        <input type="text" id="write_text" name="write_text"><br><br>
        <a href="/predicttext/{There is a camel}">Submit</a>
        <br>
        <br>
        <h1>Text is : {{ text }}</h1>
        <br>
        <h1>Words: {{ Words }}</h1>
        <br>
        <h1>Parts of Speech : {{ POS }}</h1>
        <br>
        <h1>Lemma Words : {{ Lemma }}</h1>
        <br>
        <h1>Dep : {{ Dep }}</h1>
    </bod>

</html>